body {
    background: #b9bbbe;
}
div.container {
    background: white;
    max-width: 900px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    margin-top: 50px;
}
div#offer-criteria {
    min-height: 350px;
}
.section-message {
    height: 120px
}
.btn-right {
    float: right;
}
div.right {
    float: right;
    margin-right: 10px;
}
button.navigation {
    width: 200px;
    margin: 2px;
}
.alert{
    margin-bottom: 3px;
}